body {
    background: #352f5b;
}

.container {
    max-width: 400px;
}

input[type=text] {
    margin-bottom: 20px!important;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, .2);
    max-width: 400px;
}

.todos li {
    background: #423a6f;
    cursor: pointer;
    margin: 10px 0px;
}

.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

a {
    color: #fff !important;
}

.complete {
    text-decoration: line-through;
    color: #cb3934;
    border: 2px solid #cb3934 !important;
}

/* Style for the clock */
.clock span {
    background: #000;
    padding: 15px;
    font-size: 26px;
    color: #96cb34;
}